/* Page Background */
.prs-container {
  min-height: 100vh;
  background: #2559a6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.prs-card {
  width: 100%;
  max-width: 420px;
  background: #2559a6;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 22px;
  padding: 30px 24px 40px;
  position: relative;
}

/* Logo */
.prs-logo {
  position: absolute;
  top: 18px;
  left: 18px;
}

.prs-logo img {
  width: 250px;
  margin-left: 50px;
}

/* Success Icon */
.prs-icon {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.prs-icon img {
  width: 160px;
  max-width: 100%;
}

/* Title */
.prs-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

/* Text */
.prs-text {
  color: #d9ecff;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
}

/* Button */
.prs-confirm-btn {
  width: 70%;
  height: 46px;
  margin: auto;
  display: block;
  border-radius: 30px;
  border: none;
  background: #cfefff;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.prs-confirm-btn:hover {
  background: #b8e7ff;
}

/* ---------------- RESPONSIVE ---------------- */

/* Tablet */
@media (max-width: 768px) {
  .prs-icon img {
    width: 140px;
  }

  .prs-confirm-btn {
    width: 75%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .prs-logo img {
    width: 200px;
  }

  .prs-title {
    font-size: 20px;
  }

  .prs-text {
    font-size: 13px;
  }

  .prs-icon img {
    width: 120px;
  }

  .prs-confirm-btn {
    width: 85%;
  }
}